body {
    background-color: #FFD43A;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: black;
    width: 1848px;
    margin-top: -8px;
    margin-left: -8px;
}

.navbar .nav {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 35px;
    text-decoration: none;
}

.name {
    color: black;
    opacity: .2;
    -webkit-text-fill-color: #FFD43A;
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: white;
    font-size: 270px;
    position: absolute;
    margin-top: 250px;
    margin-left: 510px;
}

.text {
    color: black;
    width: 1000px;
    margin-top: 240px;
    margin-left: 150px;
    font-size: 140%;
}

.profile {
    position: absolute;
    margin-top: -185px;
    margin-left: 1200px;
    opacity: .2;
}

#active {
    text-decoration: underline 2px #FFD43A;
}

.nav:hover {
    text-decoration: underline 2px #FFD43A;
}

li {
    float: right;
}

li .nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 55px;
    text-decoration: none;
    font-size: x-large;
    font-family: cera-round-pro, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

li .nav:hover:not(.active) {
    background-color: #111;
    color: white;
}

.nav:hover {
    text-decoration: underline 2px #FFD43A;
}

.black {
    background-color: black;
    border: 2px solid black;
    width: 260px;
    height: 90px;
    margin-left: 177px;
    margin-top: 50px;
    position: absolute;
}

.skills {
    font-size: 500%;
    color: white;
    font-weight: bolder;
    position: absolute;
    margin-top: 50px;
    margin-left: 150px;
}

.first-div {
    background-color: black;
    color: white;
    width: 1500px;
    height: 250px;
    text-align: center;
    margin-left: 150px;
    margin-top: 210px;
    border-radius: 20px;
}

.first-div:hover {
    border: white 2px solid;
}

.first-link {
    text-decoration: none;
    color: white;
}

.image-tech {
    width: 1500px;
    height: 250px;
    opacity: .4;
    border-radius: 20px;
}

.text-tech {
    position: relative;
    font-size: 500%;
    font-weight: bolder;
    margin-top: -170px;
}

.second-div {
    background-color: black;
    color: white;
    width: 1500px;
    height: 250px;
    text-align: center;
    margin-left: 160px;
    margin-top: 100px;
    border-radius: 20px;
}

.second-div:hover {
    border: white 2px solid;
}

.image-els {
    width: 1500px;
    height: 250px;
    opacity: .4;
    border-radius: 20px;
}

.text-els {
    margin-top: -170px;
    position: relative;
    font-size: 500%;
    font-weight: bolder;
}

.third-div {
    background-color: black;
    color: white;
    width: 1500px;
    height: 250px;
    text-align: center;
    margin-left: 160px;
    margin-top: 100px;
    border-radius: 20px;
}

.third-div:hover {
    border: white 2px solid;
}

.image-others {
    width: 1500px;
    height: 250px;
    opacity: .4;
    border-radius: 20px;
}

.text-others {
    margin-top: -170px;
    position: relative;
    font-size: 500%;
    font-weight: bolder;
}